.hero-container {
    background-color: $clrPrimary;

    .hero {
        position: relative;
        padding-block-start: rem(133px);
        padding-block-end: rem(250px);
    }

    h1 {
        min-width: rem(635px);
        @include font($type: h1Large, $color: 'white');

        span {
            color: $clrPrimary-1;
        }
    }

    .line-img {
        margin-block-end: rem(79px);
    }

    .hero-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    p {
        @include font($type: body1, $color: 'white')
    }

}