// PALLETE
$clrPrimary-2: #FFFFFF;
$clrPrimary-1: #F67E7E;
$clrPrimary: #014E56;

$clrSecondary: #79C8C7;
$clrSecondary1: #2C6269;
$clrSecondary2: #004047;
$clrSecondary3: #012F34;
$clrSecondary4: #002529;

// LAYOUT
$layoutPadding: 24px;

// LAYOUT BREAKPOINTS
$break-narrow: 330px;
$break-normal: 690px;
$break-wide: 1110px;