// Flex 
.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.inline-flex {
    display: inline-flex;
}

.gap40 {
    gap: 40px;
}

.gap30 {
    gap: 30px;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}